<!DOCTYPE html>
<html lang="<%= config.language || 'zh-CN' %>">
  <head>
    <%- partial('partial/head') %>
  </head>
  <body class="site-body">
    <%- partial('partial/header') %>
    <main class="site-main">
      <%- body %>
    </main>
    <%- partial('partial/footer') %>
  </body>
</html>

